.layoutContainer {
  display: flex;
  flex-flow: column nowrap;
  margin: 0 auto;
  max-width: 72rem;
  padding: 0 10vw;
}

@media screen and (min-width: 63rem)
{
  .layoutContainer {
    padding: 0 12rem;
  }
}
